body {
    font-family: Arial, sans-serif;
    background-color: #ddd;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2em;
}

a {
    color: blue;
    text-decoration: none;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-section img {
    width: 100%;
    border-radius: 8px;
}

.form-group {
    text-align: left;
    margin: 10px 0;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttons {
    margin-top: 15px;
}

.buttons button {
    width: 48%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out; /* Smooth transition effect */
}


.buttons button:hover {
    width: calc(48% + 4px); 
    height: calc(40px + 4px); 
}

.submit {
    background-color: #007BFF;
    color: white;
}

.reset {
    background-color: red;
    color: white;
}

.red-text {
    color: red;
    font-weight: bold;
    margin: 20px 0;
}

.card {
    background-color: #ff6b6b;
    color: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.footer {
    margin-top: 20px;
    font-size: 0.8em;
    color: #666;
}
